@import "../../../../styles/colors";

.subject {
  display: grid;
  column-gap: 10px;
  max-width: 46em;
  padding: 10px;
  border: transparentize($second-color, 0.7) 1.2px solid;
  border-radius: 4px;
  background-color: $white;


  grid-template-areas:
          "title as "
          "type  as "
          "lp    as "
          "set   set";

  &__title {grid-area: title}
  &__type {grid-area: type}
  &__average-score-status {grid-area: as}
  &__list-point {grid-area: lp}
  &__settings {grid-area: set}


  &__average-score-status {
    justify-self: end;
    display: flex;
    gap: 3px;
    align-items: center;
  }
}