@import '../../styles/colors';

.header-bottom {
  position: sticky;
  top: 0;
  z-index: 99;
  overflow-x: auto;

  background-color: $white;
  border-bottom: solid 1px transparentize($black, 0.8);
  box-shadow: transparentize($black, 0.8) 0 0 4px;

  @media (hover: hover) {
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparentize($black, 0.8);
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparentize($black, 0.7);
      &:hover {
        background-color: transparentize($black, 0.6);
      }
    }
  }
  @media (hover: none) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__nav-btn {
    &:first-child {
      padding-left: var(--main-padding);
    }
    &:last-child {
      padding-right: var(--main-padding);
    }
  }
}