@import "../../styles/colors";

.subject-input-text {
  position: relative;

  &__input {
    width: 100%;
    padding: 5px 35px 5px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    transition: 0.2s;

    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.2px;

    color: transparentize($black, 0.2);
    border-color: transparentize($black, 0.8);

    &::placeholder {
      color: transparentize($black, 0.6);
    }

    &:focus {
      border-color: transparentize($black, 0.3);
    }

    &_valid {
      border-color: transparentize($black, 0.5);
    }

    &_invalid {
      border-color: $red solid 1px;
      &:focus {
        border-color: $red;
      }
    }
  }

  &__icon {
    &:after {
      position: absolute;
      top: 18%;
      right: 8px;

      content: '';
      color: $turquoise;
      font-size: 0.9em;
      font-variation-settings:
              'FILL' 1,
              'wght' 300,
              'GRAD' 0,
              'opsz' 24;
    }

    &_default {
      &:after {
        content: '';
      }
    }

    &_valid {
      &:after {
        color: $turquoise;
        content: 'check_circle';
      }
    }

    &_invalid {
      &:after {
        color: $red;
        content: 'warning';
      }
    }
  }

  &__suggest {
    width: 100%;
    padding: 3px 8px;
    position: absolute;
    top: 1.6em;

    background-color: $white;
    border: transparentize($black, 0.3) solid 1px;
    border-radius: 4px;

    color: transparentize($black, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.2px;

  }
}