@import "../../styles/colors";

.subject-input-text {
  position: relative;

  &__input {
    width: 100%;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: transparentize($black, 0.975);
    transition: 0.2s;

    font-family: Jost, sans-serif;
    font-size: 1.1em;
    font-weight: 600;

    border: transparentize($black, 0.8) solid 1.5px;
    color: transparentize($black, 0.25);

    &::placeholder {
      color: transparentize($black, 0.6);
    }

    &_default {
      &:focus {
        border: transparentize($black, 0.3) solid 1.5px;
      }
    }

    &_invalid {
      border: $red solid 1.5px;
      &:focus {
        border: $red solid 1.5px;
      }
    }

    &_valid {
      border: $turquoise solid 1.5px;
      &:focus {
        border: transparentize($black, 0.3) solid 1.5px;
      }
    }
  }

  &__icon {
    &:after {
      position: absolute;
      top: 18%;
      right: 10px;

      content: '';
      font-size: 0.9em;
      color: $turquoise;
      font-variation-settings:
              'FILL' 1,
              'wght' 300,
              'GRAD' 0,
              'opsz' 24;
    }

    &_default {
      &:after {
        content: '';
      }
    }

    &_invalid {
      &:after {
        color: $red;
        content: 'warning';
      }
    }
    &_valid {
      color: $turquoise;
      &:after {
        content: 'check_circle';
      }
    }
  }


  &__suggest {
    width: 100%;
    padding: 3px 10px;
    position: absolute;
    top: 1.6em;

    background-color: mix($black, $white, 2.5%);
    border: transparentize($black, 0.5) solid 1px;
    border-radius: 4px;

    font-family: Jost, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: transparentize($black, 0.25);

  }
}