@import '../../styles/colors';

.header-top {
  background-color: $red;
  padding: 10px 0;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: 3px 0;
    font-family: Jost, sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: $white;
  }

  &__profile {
    display: flex;
    cursor: pointer;
  }

  &__icon {
    color: $white;
    font-size: 2.8em;
  }
}