.subject-settings {
  margin-top: 10px;
  display: grid;
  gap: 6px;

  grid-template-columns: 1fr 1fr auto;
  grid-template-areas: "edit add del";

  @media (max-width: 350px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
            "edit del"
            "add  del";
  }

  &__btn-edit {grid-area: edit}
  &__btn-add-point {grid-area: add}
  &__btn-delete {grid-area: del}
}