@import "../../styles/colors";

.edit-subject {
  &__form {
    max-width: 420px;
    margin-top: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
  }

  &__edit-scores {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
  }

  &__submit {
    margin-top: 10px;
    padding-block: 0.3em;
    font-size: 1.1em;
  }
}