@import "../../styles/colors";

.subject-input-radio {
  display: grid;
  grid-template-columns: repeat(var(--count-items), 1fr);
  align-items: stretch;
  gap: 8px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    border-radius: 4px;
    background-color: transparentize($black, 0.975);
    transition: 0.15s;

    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 1.1em;
    font-weight: 600;

    border: transparentize($black, 0.8) solid 1.5px;
    color: transparentize($black, 0.6);

    &:hover {
      cursor: pointer;
    }

    &_active {
      border: $turquoise solid 1.5px;
      color: transparentize($black, 0.25);
    }
  }

  &__input {
    display: none;
  }
}