@import "../../styles/colors";

.subject-input-radio {
  display: grid;
  grid-template-columns: repeat(var(--count-items), 1fr);
  align-items: stretch;
  gap: 8px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    transition: 0.15s;

    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: -0.2px;

    border-color: transparentize($black, 0.8);
    color: transparentize($black, 0.6);

    &:hover {
      cursor: pointer;
    }

    &_active {
      border-color: transparentize($black, 0.5);
      color: transparentize($black, 0.25);
    }
  }

  &__input {
    display: none;
  }
}