// light theme
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$main-color: rgb(255, 29, 87);
//$main-color: #96bee4;
//$main-color: rgb(8, 188, 215);

$red: #e30101;
$green: #08ef0b;
$burgundy: #a81616;
$turquoise: #15a58e;


// под инпут
// #15a58e