@import "../../styles/colors";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);

  // 400px выбрано с запасом, это ширина экрана при которой точно не будет отображено 2 элемента в ряду
  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }

  &__btn-create-subject {
    grid-column: 1;
  }
}