@import "../../../../styles/colors";

.subject-list-score {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  &__item {
    font-family: Jost, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: $second-color;
  }
}