@import "../../../../styles/colors";

.subject-average-score {
  width: 4.8em;
  height: 4.8em;
  border-radius: 50%;

  background-image: conic-gradient(
                  $main-color var(--progress),
                  transparentize($black, 0.9) calc(100% - var(--progress)));

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;

    font-family: Montserrat, sans-serif;
    font-size: 1.7em;
    font-weight: 800;
    color: $second-color;
    border-radius: 50%;
    background-color: $white;
  }
}