@import "../../../styles/colors";

.edit-score {
  display: flex;
  height: 28px;
  align-items: center;
  gap: 15px;

  &__score {
    width: 40px;
    min-width: 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Jost, sans-serif;
    background-color: $second-color;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 600;
    color: $white;
  }

  &__date {
    font-weight: 500;
  }

  &__line {
    width: 1px;
    height: 100%;
    background-color: transparentize($black, 0.8);
  }

  // сделать адаптив удаления времени при ширине

  &__button {
    height: 100%;
    width: 20%;
    min-width: 28px;
  }
}