@import "../../../styles/colors";

.edit-score {
  display: flex;
  height: 28px;
  align-items: stretch;
  gap: 15px;

  &__custom-radio {
    width: 80%;
  }

  &__line {
    width: 1px;
    height: 100%;
    background-color: transparentize($black, 0.8);
  }

  &__button {
    height: 100%;
    width: 20%;
  }
}