@import "../../../styles/colors";

.main-wrapper {

  &__linear-loading {
    color: $main-color;
    transform: scaleY(0.75) translateY(-2px);

    & > span {
      position: relative;
      top: 0;
    }
  }
}