@import "../../../styles/colors";

.custom-radio {
  --amount-items: 0;

  height: 28px;
  display: grid;
  grid-template-columns: repeat(var(--amount-items), 1fr);
  gap: 5px;

  &__btn {
    font-family: Jost, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1.2px solid transparentize($black, 0.8);
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 600;
    color: $second-color;

    -webkit-tap-highlight-color: transparent;
    transition: 0.05s;

    &_active {
      background-color: $main-color;
      border-color: $main-color;
      color: $white;
    }

    &_disabled {
      background-color: transparentize($black, 0.925);
      border-color: transparentize($black, 0.925);
      color: transparentize($black, 0.5);
      cursor: auto;
    }
  }

  &__input {
    display: none;
  }
}