@import "../../../styles/colors";

.custom-input {
  max-width: 50%;
  padding: 8px;
  border: 0.08em solid transparentize($black, 0.8);
  border-radius: 3px;
  font-size: 1.1em;
  transition: 0.1s;

  &:hover {
    border-color: transparentize($black, 0.7);
  }

  &:focus {
    border-color: $main-color;
    box-shadow: 0 0 0 0.5px $main-color;
  }
}